/.idea/*
/venv/*
/tmp/*
/tmp/
tmp
!/tmp/readme.txt
/params/*
!/params/
!/params/ci_run_full.json
/readme_files/.ipynb_checkpoints/*
/__pycache__/*
/.ipynb_checkpoints/*
/sinara/__pycache__/*
/sinara/.ipynb_checkpoints/*
